{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <!-- <div class="masthead-subheading">Would you like to make a booking?</div> -->
        <div class="masthead-heading text-uppercase">Make a booking</div>
        <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Enjoy our service</a> -->
    </div>
</header>
<div class="section">
    <div class="row button-center">
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3 class="section-heading text-uppercase button-center">Make a booking</h3>
                <form method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-form">Confirm</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%endblock%}