{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Bookings</div>
    </div>
</header>

<!-- Update booking requests -->
<div class="section">
    <section class="page-section bg-light">
        <div class="container">
            <div class="row button-center">
                <div class="col-md-4 card mb-4  mt-3 ">
                    <div class="card-body">
                        {% if user.is_authenticated %}

                        <h3 class="section-heading text-uppercase button-center">Edit booking</h3>
                        <form method="post">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-lg btn-form">Update Request</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="button-center">
                        <div class="row">
                            <p>If you've already sent a request and would like to view your confirmed bookings, please click below</p>
                            <a class="btn btn-primary btn-lg text-uppercase" name="my_bookings"
                            href="{% url 'my_bookings' %}">My Bookings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{%endblock%}