{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Scissorhand's Barbershop</div>
        <div class="masthead-heading text-uppercase">High standards are on us.</div>
        <a class="btn btn-primary btn-xl text-uppercase" name="services" href="#services">Be your best</a>
    </div>
</header>

<!-- Services-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Vintage style with modern cuts.</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="service-item">
                    <img class="mx-auto" src="{% media 'img/services/gents.jpg' %}" alt="gents haircut" />
                    <h4>Gents Cut</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <img class="mx-auto" src="{% media 'img/services/kids.jpg' %}" alt="kids haircut" />
                    <h4>Kids Cut</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <img class="mx-auto" src="{% media 'img/services/shave.jpg' %}" alt="men's shave" />
                    <h4>Shave</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">From the first toddler cut to
                        Grandad having his monthly trim, shave and natter over a homemade brew, Scissorhand's has you
                        covered. Whether you are looking for a consultation, styling tips or our high end products, we
                        are here to ensure everybody is happy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About-->
<section class="page-section bg-white" id="about"><a name="about"></a>
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">Established in 2015, a quirky little Barbers found on Silver Street in the
                city of York, an apt place for this upcoming, hip Barber shop. Scissorhands began when childhood
                friends, Chris and Nathan, took their childhood dream and made it a reality, soon expanding their
                horizons and knowledge to now being able to train the next generation of Barber prodigies in the way
                of fully funded apprenticeships via Askam Bryan College. The shop itself is a very modern and chic
                place with a laid back atmosphere that caters for all client needs.
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% media 'img/team/man-1.jpg' %}" alt="..." />
                    <h4>Nathan</h4>
                    <p class="text-muted">Senior Barber</p>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-muted">Nathan, together with fellow founder of
                                Scissorhand's, Chris, run the place. Qualifying as a Barber in 2006 via City and Guilds
                                Qualification he has built the business alongside his childhood best friend. Kids
                                love Nathan, and having two boys himself, he knows how to make our smallest customers
                                feel at ease. Nathan enjoys family days out with his pooch, Nixon.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% media 'img/team/man-2.jpg' %}" alt="..." />
                    <h4>Chris</h4>
                    <p class="text-muted">Senior Barber</p>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-muted">Chris, together with founding member and childhood best
                                friend, Nathan, run Scissorhand's. Chris qualified in Barbering in 2010 also via a City
                                and
                                Guilds Qualification, after first completing an apprenticeship in tattooing and body
                                modification. Chris is an avid mountain biker and enjoys partaking in biking holidays
                                around Europe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% media 'img/team/man-3.jpg' %}" alt="..." />
                    <h4>Ben</h4>
                    <p class="text-muted">Barber</p>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-muted">Ben joined the team in 2019 following completion of an
                                apprenticeship with a leading Hair Salon in the North East and a gap-year in Paris where
                                he worked in a French Salon and specialised in Turkish Shaves. In his spare time, Ben
                                enjoys photography and travelling alongside his fiancée, Beth and their recent addition
                                to the fold, daughter Esmee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% media 'img/team/man-4.jpg' %}" alt="..." />
                    <h4>Dan</h4>
                    <p class="text-muted">Apprentice</p>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-muted">Dan is our newest member of the team, joining us in March
                                2022 he is soon fast becoming popular with the customers. Dan aims to complete his
                                apprenticeship in early 2023 and intends to remain with the team, which will be music to
                                our customers ears, we're sure! Dan is an avid surfer and partakes in skateboarding in
                                his spare time away from the salon.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Location-->
<section class="page-section" id="location"><a name="location"></a>
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Where to find us</h2>
            <p class="text-large text-light">Scissorhand's Barbers</p>
            <p class="text-large text-light">Silver Street</p>
            <p class="text-large text-light">York</p>
            <p class="text-large text-light">YO1 8RY</p>
        </div>
        <div id="map"></div>
    </div>
</section>

{%endblock%}