{% extends "base.html" %}
{% load static %}

            {% block content %}

            <!-- Masthead-->
            <header class="masthead">
                <div class="container">
                    <div class="masthead-subheading">What do our clients say about us?</div>
                    <div class="masthead-heading text-uppercase">Scroll down and find out</div>
                    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Enjoy our service</a> -->
                </div>
            </header>
            <section class="page-section">
                <div class="container">
                    <div class="row">
                        {% for testimonial in testimonials %}
                            <div class="col-md-12 col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ testimonial.title }}</h3>
                                        <hr />
                                        <p class="card-text">{{ testimonial.comment }}</p>
                                        <hr />
                                        <p class="card-text">{{ testimonial.name }}</p>
                                        <hr />
                                        <p class="card-text text-muted h6">{{ testimonial.created_on }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            
            {%endblock%}


